<div class="about-section" id="about">
  <a class="label4">
    <span class="label__content4">
      <b>ABOUT</b>
    </span>
  </a>
  <div class="center2">
    <p>Fanny Benisek is an all-round graphic designer, a "jack-of-all-trades" artist who doesn't take herself too seriously but can work seriously hard nevertheless. Graduated in 2010 at SOA/KASK Ghent as a web -and interactive designer but took a
      detour as a Japanologist. A combination that will be usefull some day!</p>
    <p>&nbsp;</p>
  </div>
</div>
