<div class="AllWork" id="allwork">
  <a class="label3">
    <span class="label__content3">
      <b>WORK</b>
    </span>
  </a>
  <p>&nbsp;</p>

  <svg height="0" width="0">
    <defs>
      <clipPath id="clipPath">
        <path d="M282.8,141.4L141.4,282.8L0,141.4L141.4,0L282.8,141.4z" />
      </clipPath>
    </defs>
  </svg>

  <div class="polygons">
    <div class="grid grid--gutter grid--center">
      <div class="grid__col polygons__col">
        <div class="polygon">
          <div class="polygon__inner">
            <div class="polygon__content">
              <a class="label" href="lesballets.html#lesballets">
                <span class="label__content">
                  <b>Les Ballets</b>
                </span>
              </a>
            </div>
            <svg class="polygon__image" viewbox="0 0 282.8 282.8" role="presentation">
              <a xlink:href="#">
                <image xlink:href="images/balletlogo.svg" x="0" y="0" height="100%" width="100%" />
              </a>
            </svg>
          </div>
        </div>
      </div>
      <div class="grid__col polygons__col">
        <div class="polygon">
          <div class="polygon__inner">
            <div class="polygon__content">
              <a class="label" href="#photography">
                <span class="label__content">
                  <b>Photography</b>
                </span>
              </a>
            </div>
            <svg class="polygon__image" viewbox="0 0 282.8 282.8" role="presentation">
              <a xlink:href="#">
                <image xlink:href="images/IMG_0830.jpg" x="0" y="0" height="100%" width="100%" />
              </a>
            </svg>
          </div>
        </div>
      </div>
      <div class="grid__col polygons__col">
        <div class="polygon">
          <div class="polygon__inner">
            <div class="polygon__content">
              <a class="label" href="ikma.html#ikma">
                <span class="label__content">
                  <b>I.K.M.A. 2014</b>
                </span>
              </a>
            </div>
            <svg class="polygon__image" viewbox="0 0 282.8 282.8" role="presentation">
              <a xlink:href="#">
                <image xlink:href="images/ikmalogo.svg" x="0" y="0" height="100%" width="100%" />
              </a>
            </svg>
          </div>
        </div>
      </div>
      <div class="grid__col polygons__col">
        <div class="polygon">
          <div class="polygon__inner">
            <div class="polygon__content">
              <a class="label" href="mag.html#mag">
                <span class="label__content">
                  <b>MAGAZINE</b>
                </span>
              </a>
            </div>
            <svg class="polygon__image" viewbox="0 0 282.8 282.8" role="presentation">
              <a xlink:href="#">
                <image xlink:href="images/IMG_2485.jpg" x="0" y="0" height="100%" width="100%" />
              </a>
            </svg>
          </div>
        </div>
      </div>
      <div class="grid__col polygons__col">
        <div class="polygon">
          <div class="polygon__inner">
            <div class="polygon__content">
              <a class="label" href="allround.html#allround">
                <span class="label__content">
                  <b>Allround</b>
                </span>
              </a>
            </div>
            <svg class="polygon__image" viewbox="0 0 282.8 282.8" role="presentation">
              <a xlink:href="#">
                <image xlink:href="images/IMG_2483vierk.jpg" x="0" y="0" height="100%" width="100%" />
              </a>
            </svg>
          </div>
        </div>
      </div>
      <div class="grid__col polygons__col">
        <div class="polygon">
          <div class="polygon__inner">
            <div class="polygon__content">
              <a class="label" href="portf.html#portf">
                <span class="label__content">
                  <b>Portfolio</b>
                </span>
              </a>
            </div>
            <svg class="polygon__image" viewbox="0 0 282.8 282.8" role="presentation">
              <a xlink:href="#">
                <image xlink:href="images/portf.jpg" x="0" y="0" height="100%" width="100%" />
              </a>
            </svg>
          </div>
        </div>
      </div>
      <div class="grid__col polygons__col">
        <div class="polygon">
          <div class="polygon__inner">
            <div class="polygon__content">
              <a class="label" href="flyer.html#flyer">
                <span class="label__content">
                  <b>Flyer</b>
                </span>
              </a>
            </div>
            <svg class="polygon__image" viewbox="0 0 282.8 282.8" role="presentation">
              <a xlink:href="#">
                <image xlink:href="images/Flyer2.jpg" x="0" y="0" height="100%" width="100%" />
              </a>
            </svg>
          </div>
        </div>
      </div>
      <div class="grid__col polygons__col">
        <div class="polygon">
          <div class="polygon__inner">
            <div class="polygon__content">
              <a class="label" href="onem.html#onem">
                <span class="label__content">
                  <b>Oneminutes</b>
                </span>
              </a>
            </div>
            <svg class="polygon__image" viewbox="0 0 282.8 282.8" role="presentation">
              <a xlink:href="#">
                <image xlink:href="images/Onem.jpg" x="0" y="0" height="100%" width="100%" />
              </a>
            </svg>
          </div>
        </div>
      </div>
      <div class="grid__col polygons__col">
        <div class="polygon">
          <div class="polygon__inner">
            <div class="polygon__content">
              <a class="label" href="diy.html#diy">
                <span class="label__content">
                  <b>D.I.Y. Radio</b>
                </span>
              </a>
            </div>
            <svg class="polygon__image" viewbox="0 0 282.8 282.8" role="presentation">
              <a xlink:href="#">
                <image xlink:href="images/Stbr.svg" x="0" y="0" height="100%" width="100%" />
              </a>
            </svg>
          </div>
        </div>
      </div>
      <div class="grid__col polygons__col">
        <div class="polygon">
          <div class="polygon__inner">
            <div class="polygon__content">
              <a class="label" href="webshop.html#webshop">
                <span class="label__content">
                  <b>Webshop</b>
                </span>
              </a>
            </div>
            <svg class="polygon__image" viewbox="0 0 282.8 282.8" role="presentation">
              <a xlink:href="#">
                <image xlink:href="images/JKlogo.svg" x="0" y="0" height="100%" width="100%" />
              </a>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
