<div class="sticky-header">
  <div class="header-content">
    <div class="center">
      <div class="logo">
          <a href="index.html"><img src="images/logo.svg" alt="LOGO">
          </a>
      </div>

      <nav>
        <a class="label" href="#allwork">
          <span class="label__content">
            <b>WORK</b>
          </span>
        </a>
        <a class="label2" href="#about">
          <span class="label__content">
            <b>ABOUT/CONTACT</b>
          </span>
        </a>
      </nav>

    </div>
  </div>
</div>
